.banner-login {
  background-image: url('../assets/img/login.jpg');
  .tint {
    position: relative;
    background-color: rgba(0,30,80,.8);
    .navigation-bar {
      background-color: transparent;
      box-shadow: none;
      display: block;
      text-align: center;
    }
    /* --- Custom absolutely placed wrapper for login ---*/
    .content-wrapper {
      width: 400px;
      padding: 30px 0 0;
      border-radius: 10px;
      .form-header {
        border: none;
      }
      .form-body {
        padding: 15px 20px 30px;
        border: none;
        .input-wrapper {
          margin-right: 0;
        }
        .input-wrapper input::placeholder {
          font-style: normal;
          font-size: 18px;
          font-weight: normal;
        }
        .btn-wrapper {
          margin: auto;
        }
        .form-btn {
          position: relative;
        }
      }
      .form-footer a {
        color: rgb(180,180,180) !important;
      }

    }
  }
}

@media screen and (max-width: 500px) {
    .content-wrapper {
        width: 95%;
    }
    .input-wrapper label, .input-wrapper input, .form-btn {
        font-size: 18px;
    }

    .input-wrapper input::placeholder {
        font-size: 16px;
    }
}
